{% extends "base.html" %}

{% block title_head %}
inicio
{% endblock title_head %}

{% block h1_header %}
<h1>
    Acerca de mi
</h1>
{% endblock h1_header %}

{% block main %}

<div class="container d-flex justify-content-center align-items-start vh-100">
    <div class="texto-centrado border-shadow text-center">
        <h2>Hola, me llamo Gonzalo</h2>
        <br>
        Soy uruguayo, de 31 años.
        <br>
        Vivo en el departamento de Canelones.
        <br>
        Desde pequeño estoy detrás de una computadora. Mis primeros pasos fueron en 1999, donde mis padres, con mucho esfuerzo, compraron mi primera PC.
        <br>
        Una Intel Celeron de 533MHz con 32Mb de RAM. Actualmente, un reloj inteligente es más potente, ¡Lol!
        <br>
        <br>

        Posteriormente a eso, me anotaron a clases de computación, donde aprendí lo que es y cómo funciona una PC. Luego de eso no me despegaron más.
        <br>
        <br>
        Actualmente me dedico a trabajar como operario logístico en una importante multinacional de su comida chatarra favorita.
        <br>
        Casualmente hago trabajos de reparaciones, diseño gráfico y web.
        <br>
        <br>

        Me gusta claramente todo lo que es tecnología, y también el automovilismo (excepto la F1 "no vale la pena, hay más mundo detrás de ese muro").
        <br>
    </div>
</div>

{% endblock main %}
