{% extends "base.html" %}

{% block title_head %}
inicio
{% endblock title_head %}

{% block h1_header %}
<h1>
    Bienvenidos Proyecto Final
</h1>
<h5>
    Idea: Registros de vuelos y Pasajeros 
</h5>
{% endblock h1_header %}

{% block main %}
<div class="container d-flex justify-content-center align-items-start vh-100">
    <div class="texto-centrado border-shadow text-center">
        
        * Este proyecto trata de emular una web de agente de ventas de pasajes aéreos, donde se podrá encontrar una página de inicio o bienvenida, una página donde se pueden ver los vuelos registrados o, en su defecto, crear uno, ingresando información en campos de Número de vuelo, Aerolínea, Fabricante y Modelo del avión, Fecha del vuelo, Imagen o foto del avión.
        <br>
        * También un menú donde se ocupa la lista de pasajeros o clientes, donde se puede registrar nombre, apellido, fecha de nacimiento, documento y ciudad.
        <br class="mt-3">
        A su vez, tiene una parte de gestión de usuarios, donde se pueden registrar, iniciar sesión, editar los datos del usuario, colocar avatar, y finalmente una bandeja de mensajería donde interactuar con otros usuarios.
        <br>
        
        <strong>**Gonzalo Etchechury** - *Trabajo Total* - <a href="https://github.com/gonzaloe281">[Gonzaloe281]</a></strong>
        <br class="mt-3">
        <strong>

            ## Nota Final 💬
        </strong>
        <br class="mt-3">
        * Luego de dar muchas vueltas de cómo desarrollar el proyecto final, decidí que lo mejor en mi caso era acomodar y seguir desarrollando la tercera entrega, en lo que es código y armado, por la parte de HTML y CSS agregué mis conocimientos, ya que me sirven para aplicar lo aprendido en otros cursos, y de lo que es Python y Django, obviamente aplicar lo aprendido en las clases en vivo de CODERHOUSE y diapositivas, también en algunos puntos tuve que despejar dudas buscando en la web cómo aplicar "X" cosa en el proyecto para que funcione correctamente.
        <br>
        * Fue mucho esfuerzo y horas invertidas para hacerlo lo más completo posible.
        <br>
        * <strong>Gracias ☕🧉</strong>
    </div>
</div>

{% endblock main %}
