{% extends "base.html" %}

{% block title_head %}
Viendo vuelo
{% endblock title_head %}

{% block h1_header %}
<h1>
Estas viendo el vuelo <br>{{vuelo.vuelo}}
</h1>
    
{% endblock h1_header %}

{% block main %}
<div class="container d-flex justify-content-center align-items-start vh-100">
    <div class="texto-centrado border-shadow text-center" >

        <h1>Detalles</h1>

            <h5>
                Nombre del Vuelo: |    Aerolínea:
            </h5>
            
            {{ vuelo.vuelo }} |    {{vuelo.aerolinea}} <br><br>
            <h5>

            Fabricante: |    Modelo:
            </h5>
            {{ vuelo.fabricante }} |      {{ vuelo.modelo }}<br><br>
            
            <h5>
                Pasajeros: |      Fecha:
            </h5>
            {{ vuelo.pasajeros }} |    {{vuelo.fecha}}<br><br>
            
        
        
    </div>

</div>

{% endblock main %}