{% extends "base.html" %}

{% block title_head %}
Iniciar sesion
{% endblock title_head %}

{% block h1_header %}
<h1>
    Inicio de Sesion
</h1>
<p>Por favor rellene los campos</p>
{% endblock h1_header %}

{% block main %}

<div class="container d-flex justify-content-center align-items-start vh-100">
    <div class="texto-centrado border-shadow text-center">
        <form action={% url "loguear" %} method='POST' class="form-field">
            {% csrf_token %}
            {{formulario.as_p}}
            <input type="submit" value="Iniciar Sesion" class="boton-crear">
        </form>
    </div>
</div>


{% endblock main %}